/* Biohazard configs
*
*  by Chap_Suit
* 
*  This file is provided as is (no warranties).
*/

#if defined _biohazardcfg_included
	#endinput
#endif
#define _biohazardcfg_included

// fog settings
#define FOG_ENABLE  	     1
#define FOG_DENSITY	    "0.0012"
#define FOG_COLOR   	    "42 42 42"

// default zombie setting
#define DEFAULT_PMODEL	    "models/player/slum/slum.mdl"
#define FIRSTZOMBIE_PMODEL  "models/player/hellslum/hellslum.mdl"
#define DEFAULT_WMODEL	    "models/v_knife_zombie.mdl"

#define DEFAULT_HEALTH 	    2000 //Health value
#define DEFAULT_SPEED	    280.0 //Speed value
#define DEFAULT_GRAVITY	    1.0   //Gravity multiplier
#define DEFAULT_ATTACK	    2.0   //Zombie damage multiplier
#define DEFAULT_DEFENCE	    0.087 //Bullet damage multiplier
#define DEFAULT_HEDEFENCE   1.0   //HE damage multiplier
#define DEFAULT_HITSPEED    0.89  //Pain speed multiplier
#define DEFAULT_HITDELAY    0.28  //Pain speed delay value
#define DEFAULT_REGENDLY    0.12  //Regeneration delay value
#define DEFAULT_HITREGENDLY 2.0   //Pain regeneration delay value
#define DEFAULT_KNOCKBACK   1.0   //Knockback multiplier

new g_zombie_weapname[] = "melee"
new g_infection_name[]  = "infection"

// primary weapons (menu|game)
new g_primaryweapons[][][] = 
{ 

	{ "M4A1",     "weapon_m4a1"    },
	{ "AK47",     "weapon_ak47"    },
	{ "AWP",      "weapon_awp"     },
	{ "AUG",      "weapon_aug"     },
	{ "SG552",    "weapon_sg552"   },
	{ "Galil",    "weapon_galil"   },
	{ "Famas",    "weapon_famas"   },
	{ "MP5 Navy", "weapon_mp5navy" },
	{ "P90",      "weapon_p90"     },
	{ "M3",       "weapon_m3"      },
	{ "XM1014",   "weapon_xm1014"  }
	
}
new g_secondaryweapons[][][] = 
{ 
	{ "Glock",    "weapon_glock18" },
	{ "USP",      "weapon_usp"     },
	{ "Deagle",   "weapon_deagle"  },
	{ "P228",     "weapon_p228"    },
	{ "Elite",    "weapon_elite"   } 
}

new g_scream_sounds[][] = 
{ 
	"biohazard/scream1.wav", 
	"biohazard/scream2.wav", 
	"biohazard/scream3.wav"
}

new g_zombie_miss_sounds[][] = 
{ 
	"zombie/claw_miss1.wav", 
	"zombie/claw_miss2.wav" 					
}

new g_zombie_hit_sounds[][] = 
{ 
	"zombie/claw_strike1.wav",
	"zombie/claw_strike2.wav",
	"zombie/claw_strike3.wav"
}

new g_zombie_die_sounds[][] = 
{
	"biohazard/death1.wav",
	"biohazard/death2.wav",
	"biohazard/death3.wav"
}

new g_human_vip_models[][] =
{
	"zombievip_u",
	"zombievip_s",
	"zombievip_gs",
	"zombievip_gi"
}

new g_human_vipplus_models[][] =
{
	"zombievippl_u",
	"zombievippl_s",
	"zombievippl_gs",
	"zombievippl_gi"
}



